<cdk-virtual-scroll-viewport #scroller [itemSize]="itemSize$ | async" class="h-100">
  <mat-list>
    <ng-container *cdkVirtualFor="let row of imageRows$ | async">
      <div class="d-flex justify-content-around overflow-hidden">
        <ng-container *ngFor="let image of row">
          <ng-container *ngIf="itemSize$ | async as size">
            <div class="p-2" [style.width.px]="size" [style.height.px]="size">
              <mat-card class="h-100 w-100 cursor-pointer" (tap)="imageSelected.emit(image)">
                <mat-card-content class="w-100 h-100 d-flex align-items-center justify-content-center">
                  <img #img (dragstart)="revertSrcToThumbnail(img, image)" (pointerup)="revertSrcToThumbnail(img, image)" (pointerdown)="swapSrcForFullsize(img, image)" class="h-100 w-100" style="object-fit: contain" [src]="image.medUrl"/>
                </mat-card-content>
              </mat-card>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
    <div class="spinner-item" *ngIf="isLoading$ | async">
      <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50">
      </mat-progress-spinner>
    </div>
  </mat-list>
</cdk-virtual-scroll-viewport>
