.background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
}

.menu-button {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.quick-buttons {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
}
