<mat-toolbar color="primary" class="d-flex align-items-center toolbar">
  <button mat-icon-button color="secondary" style="margin-right: 16px;" aria-label="Example icon-button with menu icon"
          (tap)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-form-field class="flex-grow-1 ml-4" appearance="standard">
    <mat-label>Search</mat-label>
    <input #searchField matInput (change)="searchFor(searchField.value)">
  </mat-form-field>
</mat-toolbar>

<mat-sidenav-container class="content-container" hasBackdrop="true">
  <mat-sidenav #sidenav mode="over" style="min-width: 42%; max-width: 42%;">
    <mat-list>
      <mat-list-item [routerLink]="'/gallery'" (tap)="sidenav.close()">Browse</mat-list-item>
      <mat-list-item [routerLink]="'/upload'" (tap)="sidenav.close()">Upload</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="overflow-hidden d-flex flex-column">

    <div style="position: relative; flex: 1 1 0;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
