/* You can add global styles to this file, and also import other style files */
@import "styles/variables";
@import "~bootstrap/scss/bootstrap";
@import "styles/bootswatch";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.tag-selected {
  background-color: $primary;
  color: $white;
}
