<div class="d-flex h-100 w-100 flex-column p-4">
  <h1>Asset Upload</h1>
  <app-upload-area class="flex-grow-1 mb-2" (filesSelected)="handleFileSelection($event)"></app-upload-area>
  <ng-container *ngIf="files$$ | async as files">
    <ng-container *ngIf="files.length; else noFiles">
      <app-file-grid class="flex-grow-1 mb-2" [files]="files" (uploadFilesSelected)="handleUploadFileSelection($event)"></app-file-grid>
      <div class="d-flex justify-content-between">
        <button class="btn btn-danger">Clear</button>
        <ng-container *ngIf="uploadMetadata$ | async as meta">
          <span class="d-block">{{meta.numFiles}} Files to upload</span>
          <span class="d-block">{{meta.totalSize}}</span>
        </ng-container>
        <button class="btn btn-primary">Upload</button>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #noFiles>
    <div class="flex-grow-1 d-flex flex-row align-items-center justify-content-center">
      <h4 class="text-muted text-center">No files selected</h4>
    </div>
  </ng-template>
</div>
